.button {
    background-color: #bdc3c7;
    font-family: arial;
    border-radius: 6px;
    border-color:#7f8c8d;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
     border-width: 0px 0px 3px;
     border-style:solid;
    transition: background-color .2s;
    font-size: 1.5em;
}

.button:hover {
    background-color:#7f8c8d;
}

.button_ok {
    background-color: #2ecc71;
    border-color:#27ae60;
    color:white;
    transition: background-color .2s;
}

.button_ok:hover {
    background-color:#27ae60;
}

.button_cancel {
    background-color: #e74c3c;
    border-color:#A92023;
    color: white;
    transition: background-color .2s;
}

.button_cancel:hover {
    background-color:#c0392b;
}
